body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Your code here */
header {
    background-color:plum;
    padding: 30px
}

/*target sections that are inside main*/
main > section {
   border: solid 1px black;
   display: inline-block;
   margin: 30px;
}